<h1>My First Angular Application</h1>

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpoation></app-stringinterpoation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!--  <app-eventbinding1></app-eventbinding1>  -->

<!-- <app-eventbinding2></app-eventbinding2> -->

<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<app-switchdirective></app-switchdirective>